version: "3.4"
services:
  dbviewer:
    image: jainishshah17/docker-dbeaver
    entrypoint: dbeaver
    network_mode: "host"
    environment:
      - DISPLAY=10.0.75.1:0.0
    # volumes:
      # - $HOME/.Xauthority:/root/.Xauthority
      # - /tmp/.X11-unix:/tmp/.X11-unix
      # - dbeaver_home:/root
  db:
    image: postgres
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=pswd

volumes:
  dbeaver_home:
